
.buttons {
  width: 100%;
  margin-top: auto;
  padding-top: 24px;
}

.custom-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media screen and (min-width: 768px) {
    padding-right: 5px;
    margin-right: -12px;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 0;
    display: none;
    @media screen and (min-width: 768px) {
      width: 7px;
      display: block;
    }
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      width: 7px;
      border-radius: 10px;
    }
  }
}
