//змінні

//colors
$green: #3DF67A;
$blue: #6DFFE5;
$gradient-green: linear-gradient(110.54deg, #3DF67A 0%, #6DFFE5 108.56%);
$white: #FFFFFF;
$black: #0E0E0E;
$dark-black: #000000;
$grey: #3C3C3C;
$light-grey: #E0E0E0;
$orange: #FF800B;
$red: #FF2020;
$dark-green: #22D927;
$notif-blue: #007AFF;
$grey6: #F2F2F2;
$grey3: #828282;
$grey4: #BDBDBD;
$bg-notif: #EFEFEF;

//text
$small-text: 12px;
$middle-text: 14px;
$bigger-text: 16px;

//size
$ui-height: 42px;
$ui-border-radius: 6px;
$ui-max-width: 475px;
$ui-max-width-small: 362px;
$ui-max-width-smaller: 330px;



